<a href="https://colab.research.google.com/github/Mrjaime08/PrograIII-Semi-2025/blob/main/ejercicios_de_funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola cracks")
print("Bienvenidos chicos a Programacion computacional III")

hola cracks
Bienvenidos chicos a Programacion computacional III

In [ ]:
nombre = "Jaime Segovia"
edad = 7
print("Bienvenido", nombre, edad)

Altura = 1.90
print("estatura:", Altura)

Bienvenido Jaime Segovia 7
estatura: 1.9

In [ ]:
num1 = 10.10
num2 = 7
suma = num1 + num2
print("la respuesta es:", suma)

la respuesta es: 17.1

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
suma = num1 + num2
print("la respuesta es:", suma)

Num1: 10.10
Num2: 7
la respuesta es: 17.1

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2
print("la respuesta es:", resta)

Num1: 5
Num2: 5
la respuesta es: 0.0

TIPOS DE DATOS EN PYTHON

In [ ]:
#ENTERO
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + " Esto es un entero"  )

#DECIMAL
num2 = 7.5
print(num2, "Esto es un numero decimal")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un booleano")

#CADENA
nombre = "Luis Hernandez"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

FECHAS

In [ ]:
#FECHAS
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

FUNCIONES

In [ ]:
#SUMA

def suma(num1, num2):
  return num1 + num2
  print("La suma de 5 + 8 = ", suma(5,8))
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

In [1]:
#RESTA -- Hacer un ejercicio en python haciendo uso de las funciones, que reste dos numeros introducidos por el usuario. TAREA.
def resta (num1, num2):
    return num1 - num2
num1 = float(input("Ingrese la primera cantidad: "))
num2 = float(input("Ingrese la segunda cantidad: "))
respuesta = resta(num1, num2)
print("")
print("La respuesta de la resta es:", respuesta)

Ingrese la primera cantidad: 5
Ingrese la segunda cantidad: 3

La respuesta de la resta es: 2.0

CALCULADORA BASICA

In [ ]:
def suma(num1, num2):
    return num1 + num2

def resta(num1, num2):
    return num1 - num2

def multiplicar(num1, num2):
    return num1 * num2

def dividir(num1, num2):
    if num2 != 0:
        return num1 / num2
    else:
        return "No se puede dividir entre cero"

def mitad(num):
    return num / 2

# Menú de operaciones
print("Selecciona una operación:")
print("1. Suma")
print("2. Resta")
print("3. Multiplicación")
print("4. División")
print("5. Mitad de un número")

opcion = input("Opción (1-5): ")

# Operaciones que requieren dos números
if opcion in ['1', '2', '3', '4']:
    num1 = float(input("Num1: "))
    num2 = float(input("Num2: "))

    if opcion == '1':
        resultado = suma(num1, num2)
    elif opcion == '2':
        resultado = resta(num1, num2)
    elif opcion == '3':
        resultado = multiplicar(num1, num2)
    elif opcion == '4':
        resultado = dividir(num1, num2)

# Operación que requiere un solo número
elif opcion == '5':
    num = float(input("Ingresa un número: "))
    resultado = mitad(num)
else:
    resultado = "Opción inválida"

print("Resultado:", resultado)

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados CELCIUS a FARENHEIT

def CelciusAfarenheit(c):
  return c*1.8 + 32

In [7]:
c = int(input("Grados celcius: "))
f = CelciusAfarenheit(c)
print("F: ", f)

Grados celcius: 7
F:  44.6

In [22]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta FARENHEIT a CELCIUS

def farenheitAcelcius(f):
  return (f-32)/1.8

f = int(input("Grados farenheit: "))
c = farenheitAcelcius(f)
print("C: ", c)

Grados farenheit: 700
C:  371.1111111111111

In [28]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta de celcius a farenheit y que la respuesta los convierta a celcius nuevamente.

def celciusafarenheit(f):
    return (f-32) * 5/9

f = float(input("Grados farenheit: "))
c = celciusafarenheit(f)
print("C: ", c)

Grados farenheit: 100.4
C:  38.0

In [31]:
#GRADOS CELCIUS a  KELVIN
def celciusAkelvin(c):
  return c+ 273.15

c = float(input("Grados celcius: "))
k = celciusAkelvin(c)
print("K: ", k)

Grados celcius: 35
K:  308.15

In [37]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que calcule el sueldo de un empleado
#segun el numero de horas trabajadas y el valor por hora

def sueldo(numero, valorXhr):
  sueldo = numhrs * valorXhr * 30
  return sueldo

numhrs = float(input("Horas trabajadas: "))
valorXhr = float(input("Valor por hora: "))
sueldo = sueldo(numhrs, valorXhr)
print(" ")
print("Sueldo a pagar: ", sueldo)

Horas trabajadas: 8
Valor por hora: 3.25

Sueldo a pagar:  780.0

In [46]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que permita elevar un numero a un exponente
def exponenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))
resultado = exponenciacion(b,e)
print("El resultado es: ", resultado)

Base: 8
Exponente: 8
El resultado es:  16777216.0